<head>
    <meta charset="UTF-8">
    <meta name="viewport" content=
          "width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="create.css">
</head>
<header>
    <nav>
        <a href="/">تاریخ</a>
        <ul>
            <li><a href="/create">ایجاد پست</a></li>
        </ul>
    </nav>

    
</header>
<main>
    <form action="/" method="POST">
        <label>عنوان:</label><br>
        <input type="text" name="title" maxlength="50">
        <br>
        <label>توضیحات:</label><br>
        <textarea type="text" name="desc" class="desc"></textarea>
        <br>
        <label>محتوا:</label><br>
        <textarea type="text" name="content" class="content"></textarea>
        <br>
        <label>نویسنده:</label><br>
        <input type="text" name="author" maxlength="0">
        <br>
        <button class="button-18" role="button" type="submit">پست</button>
    </form>
</main>