<link rel="stylesheet" href="create.css">
<header>
    <nav>
        <a href="/">تاریخ</a>
        <ul>
            <li><a href="/create">ایجاد پست</a></li>
        </ul>
    </nav>

    
</header>
<main>
    <form action="/" method="POST">
        <label>عنوان</label><br>
        <input type="text" name="title">
        <br>
        <label>توضیحات</label><br>
        <input type="text" name="desc">
        <br>
        <label>محتوا</label><br>
        <input type="text" name="content" class="content">
        <br>
        <label>نویسنده</label><br>
        <input type="text" name="author">
        <br>
        <button class="button-18" role="button" type="submit">پست</button>
    </form>
</main>