<link rel="stylesheet" href="post.css">
<header>
    <nav>
        <a href="/" class="logo">تاریخ</a>
        <ul>
            <li><a href="/create">ایجاد پست</a></li>
        </ul>
    </nav>
</header>
<main>
    <div>
        <%= post.content %> 
    </div>
</main>
