@import url('https://v1.fontapi.ir/css/Shabnam');

body {
  background-color: #f8ceec;
background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%); 
  margin: 0;
  padding: 0;
  font-family: 'Shabnam', sans-serif;
  direction: rtl;
}

nav {
  height: 60px;
  background-color: #6F39B6;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  box-shadow: 0 0 10px 1px;
  }

  /* Style the links inside the navigation bar */
nav a {
  height: 100%;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
  
  /* Change the color of links on hover */
nav a:hover {
  background-color: #ddd;
  color: black;
}
  
  /* Add a color to the active/current link */
nav a.active {
  background-color: #04AA6D;
  color: white;
}
nav .logo {
  display: inline-block;
}
nav ul {
  display: inline-block;
  list-style: none;
  height: 100%;
}

main {
  padding: 10px;
  margin: 10px;
}
main label {
  font-size: 18px;
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}
main input {
  width: 50%;
  height: 30px;
  border: none;
  border-radius: 1px;
  margin: 10px;
  outline: none;
  padding: 5px;
  padding-right: 15px;
  border-radius: 20px;
}
main input:focus {
  box-shadow: 0px 0px 20px 1px #888888;
}
main input:hover {
  box-shadow: 0px 0px 20px 1px #888888;
}

main .content {
  width: 99%;
  height: 350px;
  border: none;
  border-radius: 20px;
  margin: 5px;
  margin-bottom: 20px;
  outline: none;
  padding: 10px;
  padding-right: 20px;
}
main .content:focus {
  box-shadow: 0px 0px 20px 1px #888888;
}
main .content:hover {
  box-shadow: 0px 0px 20px 1px #888888;
}
main .desc {
  width: 50%;
  height: 100px;
  border: none;
  border-radius: 1px;
  margin: 10px;
  outline: none;
  padding: 10px;
  padding-right: 20px;
  border-radius: 18px;
}
main .desc:focus {
  box-shadow: 0px 0px 20px 1px #888888;
}
main .desc:hover {
  box-shadow: 0px 0px 20px 1px #888888;
}

/* CSS */
.button-18 {
    margin-top: 10px;
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0px;
  overflow: hidden;
  padding: 0px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
}

.button-18:hover,
.button-18:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.button-18:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.button-18:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}
